::ng-deep ion-modal.custom .ion-page {
  padding: 0;
  margin: 1rem 0;
}

ion-header ion-toolbar ion-title {
  padding-inline: 50px;
  text-align: left;
}

ion-header ion-toolbar ion-title.md {
  padding-inline: 20px;
}

div.stars-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
}

::ng-deep .extra-feedback-field {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

::ng-deep label {
    white-space: break-spaces !important;
}

.option-card{
  div.body {
    margin: 0em 1em;
    div.content{
      display: flex;
      flex-direction: column;
      .list{
        ul{
          //color: var(--ion-color-grey-light);
          font-weight: bold;
          margin-bottom: 0px;
          margin-top: 0px;
          padding-inline-start: 1em;
        }

      }
      span.subtitle {
        color: var(--ion-color-grey);
        font-style: italic;
      }
    }

    .suffix{
      font-size: 18px;
      //color: var(--ion-color-grey-light);
      font-weight: bold;
      text-transform: capitalize;
    }


    a {
      font-weight: bold;
    }
  }
}
