<div mat-dialog-content>
<!--  <video #videoPlayer width="75" height="75" autoplay (ended)="onAnimationFinished()">-->
<!--    <source src="./assets/success.mp4" type="video/mp4">-->
<!--    Your browser does not support the video tag.-->
<!--  </video>-->
  <div class="action-container">
    <lottie-player
      #lottie
      autoplay
      mode="normal"
      src="/assets/lottie-animations/success.json"
      style="width: 200px; height: 200px;"
      speed="1.5"
    >
    </lottie-player>
  </div>

</div>

