<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059119330640-k1ou72u355uosss6suee1ljf6aitkrs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059119330640-k1ou72u355uosss6suee1ljf6aitkrs6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059119330640-bir99gh99s9oidkcibduf01ehkl7lg9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9jTPsq65t3CbHAqFE1vH8ua42PIRUSQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1059119330640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fliproom.mobile</string>
	<key>PROJECT_ID</key>
	<string>fliproom---ga4</string>
	<key>STORAGE_BUCKET</key>
	<string>fliproom---ga4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059119330640:ios:effff390d522a53790e855</string>
</dict>
</plist>