<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transfers</ion-title>
    <ion-buttons slot="end" *ngIf="environment.screenType == 'desktop' && buttons.length > 0">
      <button mat-button (click)="onButtonClick(button.id)" [id]="button.id" color="primary" *ngFor="let button of buttons">
      <mat-icon>{{button.icon}}</mat-icon>
      {{button.label | titlecase}}</button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="onSegmentChanged($event)" [(ngModel)]="currentSelectedSegment" [scrollable]="true" mode="ios">
    <ion-segment-button [value]="tabName" *ngFor="let tabName of tabsList">
      <ion-label>{{tabName | titlecase}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div class="mobile" *ngIf="environment.screenType == 'mobile'">
    <fliproom-list #fliproomList (onDataRequest)="onDataRequest($event)" [dataRequested]="dataRequested" (onRowClick)="onRowClick($event)" [emptyListPlaceholder]="'No transfers available'">
      <ng-template #itemList let-element>
        <ion-card-content>
          <div class="section1">
            <div class="wrapper">
              <span class="bold">#{{element.ID}}</span>
              <span class="grey">{{element.createdAt | date:'EEE, MMM d y'}}</span>
            </div>
            <span class="grey">x{{element.quantity}} • {{element.reference1}}</span>
            <span>{{(element.consignor?.fullName || '') | titlecase}} → {{(element.consignee?.fullName || '') | titlecase}}</span>
          </div>
          <div class="tags-list margin-top-s">
            <span class="tag" [attr.color]="element.completedAt ? 'success' : element.status.name == 'deleted' ? 'error' : 'warning'">{{element.status.name | uppercase}}</span>
            <span *ngFor="let tag of element.tags" class="tag" color="primary">{{tag}}</span>
          </div>
        </ion-card-content>
      </ng-template>
    </fliproom-list>
  </div>

  <div class="desktop" *ngIf="environment.screenType == 'desktop' ">
    <table-wrapper #tableWrapper [configs]=tableConfigs (onDataRequest)="onDataRequest($event)"
      [dataRequested]="dataRequested" (onRowClick)="onRowClick($event)" matSort>
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'d/M/yy hh:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="user.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.user.fullName | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="reference1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
        <td mat-cell *matCellDef="let element" test-id="reference1"> {{element.reference1}} </td>
      </ng-container>

      <ng-container matColumnDef="consignee.fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
        <td mat-cell *matCellDef="let element"> {{(element.consignee?.fullName || 'N/A') | titlecase}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element" [attr.color]="element.status.name == 'delivered' ? 'success' : element.status.name == 'deleted' ? 'error' : 'warning'" class="bold"> {{element.status.name | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element" test-id="test-quantity"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="consignor.fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Origin </th>
        <td mat-cell *matCellDef="let element" test-id="test-quantity">
          {{(element.consignor?.fullName || 'N/A') | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
        <td mat-cell *matCellDef="let element" test-id="test-tags">
          <span *ngFor="let tag of element.tags" class="tag" color="primary">{{tag}}</span>
        </td>
      </ng-container>
    </table-wrapper>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="environment.screenType == 'mobile' && buttons.length > 0">
    <ion-fab-button>
      <mat-icon>more_vert</mat-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let button of buttons" (click)="onButtonClick(button.id)" [id]="button.id" color="primary">
        <mat-icon>{{button.icon}}</mat-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
