<ion-content>
  <div class="wrapper">
    <div id="section1" class="padding">
      <div class="img-wrapper">
        <img src="assets/fliproom_logo-text_white.svg" alt="">
      </div>

      <div id="section1-body">
        <h1 class="center">Welcome Back!</h1>
<!--        <div class="partners-section margin-top-xl">-->
<!--          <p>In partnership with</p>-->
<!--          <img id="edit-ldn" src="assets/images/the-edit-ldn-logo.avif" alt="">-->
<!--        </div>-->
      </div>

      <div id="feedbacks-section">
        <ion-card>
          <ion-card-content>
            <p id="message">"The scales of which we can build on the ideas they are creating for us, are huge, and they are frequently suggesting ideas of how we can advance the technologies further."</p>
            <p id="author">Millie - The Edit LDN</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div id="section2">
      <div id="wrapper-form" class="padding">
        <h2 class="center margin-bottom">Sign In</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">



          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="email" placeholder="Email Number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix>lock_cosed</mat-icon>
            <input matInput #passwordInput formControlName="password" placeholder="Password" type="password">
            <mat-icon matSuffix (click)="passwordInput.type = 'text'"     *ngIf="passwordInput.type == 'password'">visibility</mat-icon>
            <mat-icon matSuffix (click)="passwordInput.type = 'password'" *ngIf="passwordInput.type == 'text'">visibility_off</mat-icon>
          </mat-form-field>

          <div class="forgot-password-wrapper margin-bottom">
            <a class="button" [routerLink]="['/forgot-password']">Forgot Password?</a>
          </div>

          <button mat-flat-button class="margin-top" color="primary" [class.loading]="isLoading" test-id="signin">Sign In</button>
        </form>

        <span id="line-break" class="margin-top margin-bottom">OR</span>

        <button mat-flat-button (click)="authApi.googleSignIn()" [class.loading]="isLoading" class="social-btn">
          <img matPrefix src="assets/images/google.png" alt="" srcset="">
          Sign In with Google
        </button>

        <button mat-flat-button (click)="authApi.appleSignIn_v2()" [class.loading]="isLoading" class="margin-top-s social-btn" *ngIf="env.platform == 'ios'">
          <img matPrefix src="assets/images/apple.png" alt="" srcset="">
          Sign In with Apple
        </button>

        <div class="center margin-top-l">
          <span>Don't have an account?</span>
          <a class="button" [routerLink]="['/signup']" queryParamsHandling="preserve">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
