**/node_modules/*
.idea/*
**/*.apk
**/*.sql
**/*.DS_Store
cypress/output/*
**/.angular/*

mobile-consignor/.angular/cache/**
edit-resell/**

/microservices/api/scripts/inventoryReport.csv
/microservices/api/scripts/products.json
/microservices/api/scripts/orders.json
microservices/api/scripts/checksReports/**
microservices/api/scripts/reports/**
microservices/api/scripts/imports/**
microservices/data-lab/**
/cypress/e2e/fixtures/*.json

/microservices/stockx-api/scripts/input/
/microservices/api/scripts/imports/
node_modules
microservices/.DS_Store
microservices/api/.env
.DS_Store
cypress/.DS_Store
cypress/package-lock.json
fliproom/package-lock.json
microservices/api/package-lock.json
microservices/pdf-generator/package-lock.json
mobile-consignor/package-lock.json
package-lock.json
wms.code-workspace
.vscode/settings.json
