div.edit-section {
    div.listing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }
}

div.view-section {
    display: flex;
    flex-direction: column;
}

div.consignment-rates {
    div.info-grid {
        grid-template-columns: 2fr 1fr;
    }
}

div.onboarding, div.onboarding-continue {
    display: flex;
    align-items: center;
    flex-direction: column;
}