<ion-content>
  <div id="wrapper-form" class="padding">
    <h2 class="center margin-bottom">Forgot Password ?</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForm()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput formControlName="email" placeholder="Email Number">
      </mat-form-field>

      <button mat-flat-button class="margin-top" color="primary"  [class.loading]="isLoading" *ngIf="!submitted">Submit</button>
      <p id="submitted-message" *ngIf="submitted">Password sent to <b>{{forgotPasswordForm.value.email}}</b></p>
    </form>

    <div class="center margin-top-l">
      <span>Return to </span>
      <a class="button" [routerLink]="['/signin']">Sign In</a>
    </div>
  </div>
</ion-content>
