div#wrapper-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    margin: auto;
    
    form {
        display: flex;
        flex-direction: column;
    }
}
