<ion-app>
  <ion-router-outlet [ngClass]="{'market-download-status': environment.showDownloadMobileAppNotification}"></ion-router-outlet>
  <span id="barcode-scanner-close" class="material-symbols-outlined" translate="no" (click)="closeBarcode()">close</span>
  <div class="market-download" *ngIf="environment.showDownloadMobileAppNotification">
    <span class="download-text">Fliproom is available on mobile! <span class="highlighted-text" (click)="goToMarket()">Download Now</span></span>
    <ion-icon name="close" (click)="hideMarketDownload()"></ion-icon>
  </div>
</ion-app>
