<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <span class="material-symbols-outlined" translate="no" (click)="onCancel()">arrow_back</span>
      </ion-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div slot="content" class="padding-y-s">
      <form [formGroup]="generalForm">
          <div class="password">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput #passwordInput1 formControlName="password" placeholder="Password" type="password">
              <mat-icon matSuffix (click)="passwordInput1.type = 'text'"
                *ngIf="passwordInput1.type == 'password'">visibility</mat-icon>
              <mat-icon matSuffix (click)="passwordInput1.type = 'password'"
                *ngIf="passwordInput1.type == 'text'">visibility_off</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput #passwordInput2 formControlName="confirmPassword" placeholder="Confirm Password"
                type="password">
              <mat-icon matSuffix (click)="passwordInput2.type = 'text'"
                *ngIf="passwordInput2.type == 'password'">visibility</mat-icon>
              <mat-icon matSuffix (click)="passwordInput2.type = 'password'"
                *ngIf="passwordInput2.type == 'text'">visibility_off</mat-icon>
              <mat-hint class="error" *ngIf="!generalForm.get('confirmPassword').errors.matchingPasswords">Passwords
                don't
                match</mat-hint>
            </mat-form-field>
          </div>
      </form>
      <button mat-flat-button color="primary" (click)="onSaveChanges()" [disabled]="generalForm.pristine && invoicingForm.pristine" [class.loading]="isLoading"
      id="submit">Confirm</button>
    </div>
  </div>
</ion-content>
<!-- <ion-footer>
  
</ion-footer> -->