.product-form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-actions {
  button {
    width: 100%;
  }
}

.mat-form-field{
  display: block;
}

.ck-editor {
  color: var(--primary-color);
}
.rich-text-container{
  margin-bottom: 1.5em;
}

/* ckeditor5-basic-styles/theme/code.css */
::ng-deep .ck-content {
 background-color: var(--ion-field-background) !important;
  color:  var(--ion-text-color) !important;
}

::ng-deep .ck-toolbar {
  background-color: var(--ion-field-background) !important;
}

::ng-deep .ck-icon{
  color: var(--ion-text-color) !important;
}

::ng-deep .ck-button{
  color: var(--ion-text-color) !important;
}


/**
  PRODUCT IMAGES STYLING
 */


.image-container{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  padding-top: 4px;
}

mat-slide-toggle{
  max-height: 3em;
}


//.icon-display {
//  transform: scale(2);
//}

.add-image-card-content{
   margin: auto;
}
.add-image-card:hover{
  cursor: pointer;
  color: var(--ion-text-color);
}

.add-image-card{
  //padding: 5em;
  color: var(--ion-color-grey);
}
.image-view-card{
  border-radius: var(--border-radius);
  position: relative;
  height: 21vw;
  box-shadow: none;
  z-index: 1;
  object-fit: contain;


  .centered-image-text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.image-view-card:hover{
  cursor: pointer;
}

.image-view-card:hover >.overlay {
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: var(--ion-border-color);
  color: var(--ion-text-color);
  opacity: 0.5;
  border-radius:var(--border-radius);
  z-index: 2;
}
/* Centered text */



.image-view-card:hover >.centered-image-text {
  color: var(--main-content-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  visibility: visible;
}

//Image custom card styling
.card-outline{
  height: 21vw;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background: var(--ion-field-background);
  box-shadow: none !important;
  padding: 1em;
  //padding-top: 0.5em;
  display: flex;
  align-content: center;
}



.icon-display{
    font-size: 40px;
    padding-top: 2.5px;
    width: auto;
    height: auto;
}

/**
  Drag and drop styling
 */

.cdk-drag-placeholder {
  opacity: 0;
}

.dragging-container.cdk-drop-list-dragging .draggable-component:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.variant-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  column-gap: 0.5em;
  margin-bottom: 0.5em;


}
.sync{
  grid-template-columns: 1fr 8fr 8fr 1fr !important;
}

.variants-container{
}

::ng-deep .variant-container mat-form-field {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
}

::ng-deep .variant-container .mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px;
}





.form-section-toolbar h2{
  margin-bottom: 1em;
}

.drag-icon-container :hover{
  cursor: grab;
}

mat-option.button{
  background-color: var(--ion-color-primary);
}



@media screen and (min-width: 900px) {
  .image-view-card{
    height: 10em !important;
  }
  .card-outline{
    height: 10em !important;
  }
  .variants-container{
    margin-bottom: 2em !important;
  }
}


//Express form styling
.express-form{
  .image-container{
    .image-view-card{
      height: 6em !important;
      width: 6em !important;
    }
    .card-outline{
      height: 6em !important;
      width: 6em !important;
    }
    .card-outline{
      border-radius: 10px;
    }
    .image-view-card{
      border-radius: 10px;
    }
    .image-view-card:hover >.overlay {
      border-radius: 10px;
    }
  }


}






