ion-card {
    max-width: 500px;
    margin: auto;

    ion-card-content {
        display: flex;
        flex-direction: column;

        div.info-grid {
            row-gap: 0.5em;

            &#order,
            &#details {
                grid-template-columns: 1fr 1fr 1fr;
            }

            &#inventory {
                grid-template-columns: 1fr 1fr;
                text-align: center;
            }

            span.tag {
                height: fit-content;
            }
        }

        div#listings {
            display: grid;
            row-gap: 0.5em;
            grid-template-columns: 1fr 1fr 1fr;

            div.listing {
                grid-template-columns: 1fr;
            }
        }
    }
}