div.info-grid {
    grid-template-columns: 2fr 1fr;
}

.product-overview-card {
  border-radius: var(--ion-border-radius);
  .product-header {
    display: flex;
    align-items: center;
    .product-card-image-wrapper {
      border-radius: var(--ion-border-radius);
      overflow: hidden;
      min-height: 3em;
      max-width: 5em!important;
    }
  }
}

.product-match-container{
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.product-matching-container{
  display: grid;
  place-items: center;
  //height: 100vh; /* or any specific height */

}

div.info-grid.connectProducts {
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5em;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  span {
    display: flex;
    align-items: center;
  }
}

div.payout-section {
    display: flex;
  }

mat-expansion-panel {
  background-color: var(--ion-field-background) !important;
  border-radius: var(--ion-border-radius) !important;
  box-shadow: none !important;
  border-collapse: separate !important;

}
.product-matching-panel {
  background-color: var(--background) !important;
  mat-expansion-panel-header {
    background-color: var(--ion-field-background) !important;
    .warning-icon {
      color: var(--ion-orange-color);
      margin-right: 10px;
      font-size: 20px;
    }
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }
}


.listing-info{
  div.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

ion-card {
  border-radius: var(--ion-border-radius);
}
