mat-form-field {
  width: 100%;
}
mat-radio-group {
  width: 100%;
  display: flex;
}

div#replace-section {
  display: flex;
  flex-direction: column;
}

.mat-checkbox {
  display: block;
  margin-bottom: 20px;
  margin-left: 3px;
}

mat-radio-button {
  margin-right: 30px;
  margin-left: 4px;
}

.mat-label {
  margin-bottom: 5px;
}
