<ion-header>
  <ion-toolbar>
    <ion-title>Stock Takes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="environment.screenType == 'desktop'">
      <button mat-button (click)="onButtonClick(button.id)" color="primary" *ngFor="let button of buttons"
              [id]="button.id">
        <mat-icon>{{button.icon}}</mat-icon>
        {{button.label | titlecase}}</button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="onSegmentChanged($event)" [(ngModel)]="currentSelectedSegment" [scrollable]="true" mode="ios">
    <ion-segment-button [value]="tabName" *ngFor="let tabName of statusesTabsList">
      <ion-label>{{tabName | titlecase}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div class="mobile" *ngIf="environment.screenType == 'mobile'">
    <fliproom-list #fliproomList (onDataRequest)="onDataRequest($event)" [dataRequested]="dataRequested" (onRowClick)="onRowClick($event)">
      <ng-template #itemList let-element>
        <ion-card-content [attr.stock-take-id]="element.ID">
          <div class="section1">
            <div class="wrapper">
              <span  class="bold">#{{element.ID}}</span>
              <span class="grey">{{element.createdAt | date:'EEE, MMM d y'}}</span>
            </div>
            <span>{{element.reference1}}</span>
            <span class="grey">x{{element.quantity}} • {{(element.totalAmount || '') | currency}}</span>
          </div>
          <div class="tags-list margin-top-s">
            <span class="tag" [attr.color]="element.completedAt ? 'success' : 'warning'">{{element.status.name | uppercase}}</span>
            <span class="tag" color="primary">{{element.warehouse.name | titlecase}}</span>
            <span class="tag" color="primary">{{element.type.name | titlecase}}</span>
          </div>
        </ion-card-content>
      </ng-template>
    </fliproom-list>
  </div>

  <div class="desktop" *ngIf="environment.screenType == 'desktop'">
    <table-wrapper
      #tableWrapper [configs]=tableConfigs (onDataRequest)="onDataRequest($event)"
                   [dataRequested]="dataRequested" (onRowClick)="onRowClick($event)" matSort>
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
      </ng-container>

      <ng-container matColumnDef="user.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.user.name | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="type.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type.name | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="warehouseID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse ID </th>
        <td mat-cell *matCellDef="let element"> {{element.warehouseID }} </td>
      </ng-container>

      <ng-container matColumnDef="warehouse.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse </th>
        <td mat-cell *matCellDef="let element"> {{element.warehouse.name | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity }} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'d/M/yy hh:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="startedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Started At </th>
        <td mat-cell *matCellDef="let element"> {{element.startedAt | date:'d/M/yy hh:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="completedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed At </th>
        <td mat-cell *matCellDef="let element"> {{element.completedAt | date:'d/M/yy hh:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="status.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element" test-id="test-tags">
          <span class="tag" [attr.color]="element.status.name == 'completed' ? 'success' : 'warning'">{{(element.status.name) | uppercase}} </span>
        </td>
      </ng-container>
    </table-wrapper>
  </div>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="environment.screenType == 'mobile'">
    <ion-fab-button (click)="onCreateStockTakeJob()" test-id="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
