div#phone-number {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1em;
}

div#full-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

.address-container {
  display: grid;
  grid-template-columns: 4fr 1.5fr;

}
