ion-content {
  --padding-start: 0;
  --padding-end: 0;

  //TODO: hardcoded
  --ion-color-primary: #000000;
  --ion-card-background: #EEEEEE;
  --ion-color-grey-light: #999999;
  --ion-color-dark: #000000;
  --ion-text-color:#EEEEEE
}


