<div class="wrapper">

  <img src="/assets/fliproom_text_white.svg" alt="" id="text" class="margin-bottom">

  <img src="/assets/fliproom_logo.svg" alt="" id="logo">

  <h2 class="margin-top"> <span color="primary">Keep up</span> with the <span color="primary">game</span></h2>

</div>

<div class="overlay">
  <div class="left" (click)="onExploreClick()">
    <img src="/assets/right.svg" alt="">
    <h1>EXPLORE</h1>
  </div>
  <div class="right" (click)="onSellItemClick()" test-id="sell-item">
    <img src="/assets/left.svg" alt="">
    <h1>SELL ITEM</h1>
  </div>
</div>