<h1 mat-dialog-title>{{data.title | titlecase}}</h1>
<div mat-dialog-content>
  <p [innerHTML]="data.subtitle"></p>

  <form [formGroup]="inputForm">
    <mat-form-field appearance="fill">
      <mat-label>{{data.fieldLabel ?data.fieldLabel :'Enter Value'}}</mat-label>
      <input matInput #inputEl cdkFocusInitial *ngIf="data.type=='string'" formControlName="input" type="text" [placeholder]="data.fieldPlaceholder">
      <input matInput #inputEl cdkFocusInitial *ngIf="data.type=='number'" formControlName="input" type="number" [placeholder]="data.fieldPlaceholder">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button  test-id="cancel" (click)="onCancel()">Cancel</button>
  <button mat-flat-button     test-id="confirm" (click)="onSubmit()" color="primary" >Confirm</button>
</div>
